@charset "UTF-8";

@import "variables";
@import "mixins";

.composum-pages-components-navigation-navbar {
    @include default-font;

    &_logo {
        position: absolute;
        top: 9px;
        width: 70px;
        max-height: 70px;
    }

    &_title {
        @include default-font;
        padding-left: 80px;
    }

    .dropdown-menu {

        .composum-pages-components-navigation-menuitem {

            &_link {
                @include font($site-default-font-family, $site-small-font-size);
            }
        }
    }
}

.composum-pages-components-page-subsite {

    .composum-pages-components-navigation-navbar {
        padding-bottom: 60px;
    }

    .composum-pages-components-navigation {

        &-navbar {
            background-color: #fff;
            border: none;
            @include default-font;

            &_logo {
                width: 120px;
            }

            &_title {
                display: block;
                width: 240px;
                margin-top: -4px;
                padding-left: 130px;
                @include font('robotolight', 16px);
                line-height: 18px;
            }
        }

        &-menuitem {

            a {
                background-color: #fff;
            }

            &.active {

                a {
                    background-color: #f8f8f8;
                }
            }
        }
    }

    .composum-pages-components-page {

        &_content {

            &_top {
                padding-top: $subsite-logo-padding;

                .composum-pages-components-container-row {
                    margin: 0;

                    &_column-first {
                        padding-top: $subsite-logo-padding;
                    }
                }
            }
        }

    }
}

.composum-pages-components-page-sitemap {

    &_depth_2 {
        margin-left: $sitemap-depth-indent;
    }

    &_depth_3 {
        margin-left: 2 * $sitemap-depth-indent;
    }

    &_depth_4 {
        margin-left: 3 * $sitemap-depth-indent;
    }

    &_depth_5 {
        margin-left: 4 * $sitemap-depth-indent;
    }

}

/*
 * bootstrap -xs-
 */
@media screen and (max-width: 767px) {

    .composum-pages-components-page-subsite {

        .composum-pages-components-page-subsite-navbar {

            &_navbar-right {
                margin-top: 25px;
            }
        }
    }
}
