
.ist-composum-components-documentation-taglib {

    &-tag {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 15px;

        /* rich text... */
        ul, ol {
            margin-bottom: 10px;
        }

        &-attributes,
        &-examples {
            margin-top: 15px;
            padding-left: 10px;

            &_attr-list,
            &_xmpl-list {
                padding-left: 20px;
            }
        }

        &-attribute {
            margin-top: 15px;

            &_name {
                display: inline-block;
                min-width: 60px;
            }

            &_meta {
                display: inline-block;
                margin-left: 10px;

                & > div {
                    display: inline-block;
                    margin-left: 5px;
                    border-left: 1px solid #ccc;
                    padding: 0 0 0 5px;
                }
            }
        }

        &-example {

            code {
                overflow: auto;
                white-space: pre;
                background: inherit;
                color: inherit;
            }
        }
    }
}